flows.json
[{"id":"56026b1d.d38904","type":"tab","label":"hx711","disabled":false,"info":""},{"id":"3955965a.ae4a4a","type":"hx711","z":"56026b1d.d38904","name":"Channel 1","dout":"4","sck":"17","gain":128,"tare":0,"x":330,"y":80,"wires":[["15999a05.610166"]]},{"id":"4da15d6.83638a4","type":"hx711","z":"56026b1d.d38904","name":"Channel 2","dout":"27","sck":"22","gain":128,"tare":0,"x":330,"y":140,"wires":[["51dec716.6eccd8"]]},{"id":"294a19ab.1dde46","type":"hx711","z":"56026b1d.d38904","name":"Channel 3","dout":"10","sck":"9","gain":128,"tare":0,"x":330,"y":200,"wires":[["9e5998a7.6d8148"]]},{"id":"2a913c0e.d7bc24","type":"hx711","z":"56026b1d.d38904","name":"Channel 4","dout":"11","sck":"5","gain":128,"tare":0,"x":330,"y":260,"wires":[["51b8cdb5.9f5cd4"]]},{"id":"cd76619d.8d155","type":"hx711","z":"56026b1d.d38904","name":"Channel 5","dout":"6","sck":"13","gain":128,"tare":0,"x":330,"y":320,"wires":[["45f12092.e743a"]]},{"id":"1368d5ea.0c8e9a","type":"hx711","z":"56026b1d.d38904","name":"Channel 6","dout":"19","sck":"26","gain":128,"tare":0,"x":330,"y":380,"wires":[["13c0dc17.c942e4"]]},{"id":"e858be8c.e736e","type":"debug","z":"56026b1d.d38904","name":"Out Ch 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1460,"y":80,"wires":[]},{"id":"21d033b4.73ea9c","type":"debug","z":"56026b1d.d38904","name":"Out Ch 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1460,"y":140,"wires":[]},{"id":"3f7fc9ee.aec066","type":"debug","z":"56026b1d.d38904","name":"Out Ch 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1460,"y":200,"wires":[]},{"id":"739cf0da.f26ec","type":"debug","z":"56026b1d.d38904","name":"Out Ch 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1460,"y":260,"wires":[]},{"id":"5168723b.c5724c","type":"debug","z":"56026b1d.d38904","name":"Out Ch 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1460,"y":320,"wires":[]},{"id":"747256ad.9917e8","type":"debug","z":"56026b1d.d38904","name":"Out Ch 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1460,"y":380,"wires":[]},{"id":"acd0613f.a95e7","type":"inject","z":"56026b1d.d38904","name":"","topic":"sensor","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["3955965a.ae4a4a","4da15d6.83638a4","294a19ab.1dde46","2a913c0e.d7bc24","cd76619d.8d155","1368d5ea.0c8e9a"]]},{"id":"51dec716.6eccd8","type":"function","z":"56026b1d.d38904","name":"ConvertToForce","func":"var date = new Date();\n var hours = date.getHours();\n var minutes = date.getMinutes();\n var seconds = date.getSeconds();\n if(hours < 10) hours = \"0\" + hours;\n if(minutes < 10) minutes = \"0\" + minutes;\n if(seconds < 10) seconds = \"0\" + seconds;\n var time = hours + \":\" + minutes + \":\" + seconds;\n \n\n var raw = msg.payload;\n var newforce = 9.81*(raw + 121632)/(2956.206*1000);\n var Force = Math.round(newforce*10)/100;\n \n // Define coordinates\n  var x0 = 10;\n  var y0 = 10;\n  var x1 = 1;\n  var y1 = 1;\n  var sin = Math.sin(Math.PI / 2);\n  \n  xdifference = x1 - x0;\n  ydifference = y1 - y0;\n \n  var newmoment = Force * (Math.sqrt(Math.pow(xdifference, 2) + Math.pow(ydifference, 2))) * sin;\n  var Moment = Math.round(newmoment*10)/100;\n\n  payload = {time, Force, Moment};\n  msg.payload = payload;\n\n return msg;\n \n ","outputs":1,"noerr":0,"x":580,"y":140,"wires":[["c02367c9.e83a98","1a42728c.8426ad","916cf049.ae51d"]]},{"id":"15999a05.610166","type":"function","z":"56026b1d.d38904","name":"ConvertToForce","func":" var date = new Date();\n var hours = date.getHours();\n var minutes = date.getMinutes();\n var seconds = date.getSeconds();\n if(hours < 10) hours = \"0\" + hours;\n if(minutes < 10) minutes = \"0\" + minutes;\n if(seconds < 10) seconds = \"0\" + seconds;\n var time = hours + \":\" + minutes + \":\" + seconds;\n \n\n var raw = msg.payload;\n var newforce = 9.81*(raw + 62543)/(2884*1000);\n var Force = Math.round(newforce*10)/100;\n\n // Define coordinates\n  var x0 = 10;\n  var y0 = 10;\n  var x1 = 1;\n  var y1 = 1;\n  \n  xdifference = x1 - x0;\n  ydifference = y1 - y0;\n \n  var Moment = Force * (Math.sqrt(Math.pow(xdifference, 2) + Math.pow(ydifference, 2)));\n  payload = {time, Force, Moment}\n  msg.payload = payload;\n\n return msg;\n \n ","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["be6ad5e7.68a958","f2f4fd69.b33f7","b34b64de.436288"]]},{"id":"9e5998a7.6d8148","type":"function","z":"56026b1d.d38904","name":"ConvertToForce","func":" var date = new Date();\n var hours = date.getHours();\n var minutes = date.getMinutes();\n var seconds = date.getSeconds();\n if(hours < 10) hours = \"0\" + hours;\n if(minutes < 10) minutes = \"0\" + minutes;\n if(seconds < 10) seconds = \"0\" + seconds;\n var time = hours + \":\" + minutes + \":\" + seconds;\n\n var raw = msg.payload;\n var newforce = 9.81*(raw + 121632)/(2899.65*1000);\n  var Force = Math.round(newforce*10)/100;\n  \n  // Define coordinates\n  var x0 = 10;\n  var y0 = 10;\n  var x1 = 1;\n  var y1 = 1;\n  var sin = Math.sin(Math.PI / 2);\n  \n  xdifference = x1 - x0;\n  ydifference = y1 - y0;\n \n  var newmoment = Force * (Math.sqrt(Math.pow(xdifference, 2) + Math.pow(ydifference, 2))) * sin;\n  var Moment = Math.round(newmoment*10)/100;\n\n  payload = {time, Force, Moment}\n  msg.payload = payload;\n\n return msg;\n \n ","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["ffb2a4d2.32b998","11ff1fb2.9e995","1200a000.c10ff"]]},{"id":"51b8cdb5.9f5cd4","type":"function","z":"56026b1d.d38904","name":"ConvertToForce","func":" var date = new Date();\n var hours = date.getHours();\n var minutes = date.getMinutes();\n var seconds = date.getSeconds();\n if(hours < 10) hours = \"0\" + hours;\n if(minutes < 10) minutes = \"0\" + minutes;\n if(seconds < 10) seconds = \"0\" + seconds;\n var time = hours + \":\" + minutes + \":\" + seconds;\n \n\n var raw = msg.payload;\n var newforce = 9.81*(raw - 73740.9)/(3021.667*1000);\n var Force = Math.round(newforce*10)/100;\n \n // Define coordinates\n  var x0 = 10;\n  var y0 = 10;\n  var x1 = 1;\n  var y1 = 1;\n  var sin = Math.sin(Math.PI / 2);\n  \n  xdifference = x1 - x0;\n  ydifference = y1 - y0;\n \n  var newmoment = Force * (Math.sqrt(Math.pow(xdifference, 2) + Math.pow(ydifference, 2))) * sin;\n  var Moment = Math.round(newmoment*10)/100;\n\n  payload = {time, Force, Moment}\n  msg.payload = payload;\n\n return msg;\n \n ","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["395d00f1.d1452","8352b0c1.2ef48","64d52bd0.0d3664"]]},{"id":"45f12092.e743a","type":"function","z":"56026b1d.d38904","name":"ConvertToForce","func":"\n  var date = new Date();\n var hours = date.getHours();\n var minutes = date.getMinutes();\n var seconds = date.getSeconds();\n if(hours < 10) hours = \"0\" + hours;\n if(minutes < 10) minutes = \"0\" + minutes;\n if(seconds < 10) seconds = \"0\" + seconds;\n var time = hours + \":\" + minutes + \":\" + seconds;\n \n\n var raw = msg.payload;\n var newforce = 9.81*(raw + 47178.8)/(2945.73*1000);\n var Force = Math.round(newforce*10)/100;\n \n // Define coordinates\n  var x0 = 10;\n  var y0 = 10;\n  var x1 = 1;\n  var y1 = 1;\n  var sin = Math.sin(Math.PI / 2);\n  \n  xdifference = x1 - x0;\n  ydifference = y1 - y0;\n \n  var newmoment = Force * (Math.sqrt(Math.pow(xdifference, 2) + Math.pow(ydifference, 2))) * sin;\n  var Moment = Math.round(newmoment*10)/100;\n\n  payload = {time, Force, Moment}\n  msg.payload = payload;\n\n return msg;\n \n ","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["af8556d3.259db8","95516d7c.22ddd","c313b76b.c95c98"]]},{"id":"13c0dc17.c942e4","type":"function","z":"56026b1d.d38904","name":"ConvertToForce","func":"\n  var date = new Date();\n var hours = date.getHours();\n var minutes = date.getMinutes();\n var seconds = date.getSeconds();\n if(hours < 10) hours = \"0\" + hours;\n if(minutes < 10) minutes = \"0\" + minutes;\n if(seconds < 10) seconds = \"0\" + seconds;\n var time = hours + \":\" + minutes + \":\" + seconds;\n \n\n var raw = msg.payload;\n var newforce = 9.81*(raw - 26249.6)/(2833.7*1000);\n var Force = Math.round(newforce*10)/100;\n\n // Define coordinates\n  var x0 = 10;\n  var y0 = 10;\n  var x1 = 1;\n  var y1 = 1;\n  var sin = Math.sin(Math.PI / 2);\n  \n  xdifference = x1 - x0;\n  ydifference = y1 - y0;\n \n  var newmoment = Force * (Math.sqrt(Math.pow(xdifference, 2) + Math.pow(ydifference, 2))) * sin;\n  var Moment = Math.round(newmoment*10)/100;\n\n  payload = {time, Force, Moment}\n  msg.payload = payload;\n\n return msg;\n \n ","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["8020ee2e.71c5a","5f6ef4c4.61425c","22351d24.4f9f52"]]},{"id":"51856c8e.415e14","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"bf79e856.38ef78","order":2,"width":0,"height":0,"gtype":"gage","title":"Sensor II Force","label":"[N]","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.4","seg2":"0.8","x":1460,"y":940,"wires":[]},{"id":"a73b2832.060f58","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"bf79e856.38ef78","order":3,"width":0,"height":0,"gtype":"gage","title":"Sensor III Force","label":"[N]","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.4","seg2":"0.8","x":1460,"y":1000,"wires":[]},{"id":"fabdd991.d971b8","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"bf79e856.38ef78","order":4,"width":0,"height":0,"gtype":"gage","title":"Sensor IV Force","label":"[N]","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.4","seg2":"0.8","x":1460,"y":1060,"wires":[]},{"id":"2cb40e87.9d8b32","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"bf79e856.38ef78","order":5,"width":0,"height":0,"gtype":"gage","title":"Sensor V Force","label":"[N]","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.4","seg2":"0.8","x":1460,"y":1120,"wires":[]},{"id":"184e339d.76d0cc","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"bf79e856.38ef78","order":6,"width":0,"height":0,"gtype":"gage","title":"Sensor VI Force","label":"[N]","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.4","seg2":"0.8","x":1460,"y":1180,"wires":[]},{"id":"87f12966.8e2ad8","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"bf79e856.38ef78","order":1,"width":0,"height":0,"gtype":"gage","title":"Sensor I Force","label":"[N]","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.4","seg2":"0.6","x":1460,"y":880,"wires":[]},{"id":"b6e79dad.5a8e5","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"fe612a17.c57368","order":1,"width":"0","height":"0","gtype":"gage","title":"Sensor I Moment","label":"[Nm/s]","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.02","seg2":"0.05","x":1470,"y":460,"wires":[]},{"id":"1592a025.94918","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"fe612a17.c57368","order":2,"width":"0","height":"0","gtype":"gage","title":"Sensor II Moment","label":"[Nm/s]","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"8","x":1470,"y":520,"wires":[]},{"id":"ca4239bf.15da48","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"fe612a17.c57368","order":3,"width":"0","height":"0","gtype":"gage","title":"Sensor III Moment","label":"[Nm/s]","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.5","seg2":"0.8","x":1470,"y":580,"wires":[]},{"id":"41ac9717.5b00b8","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"fe612a17.c57368","order":4,"width":"0","height":"0","gtype":"gage","title":"Sensor IV Moment","label":"[Nm/s]","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.04","seg2":"0.2","x":1470,"y":640,"wires":[]},{"id":"c50af29e.0328b","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"fe612a17.c57368","order":5,"width":"0","height":"0","gtype":"gage","title":"Sensor V Moment","label":"[Nm/s]","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"4","seg2":"6","x":1470,"y":700,"wires":[]},{"id":"c6040c85.7e52c","type":"ui_gauge","z":"56026b1d.d38904","name":"","group":"fe612a17.c57368","order":6,"width":"0","height":"0","gtype":"gage","title":"Sensor VI Moment","label":"[Nm/s]","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.4","seg2":"0.8","x":1470,"y":760,"wires":[]},{"id":"aa7de9c4.76c058","type":"file","z":"56026b1d.d38904","name":"Sensor_II","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_II.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1300,"y":140,"wires":[["21d033b4.73ea9c"]]},{"id":"63aec420.b51d2c","type":"file","z":"56026b1d.d38904","name":"Sensor_I","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_I.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1300,"y":80,"wires":[["e858be8c.e736e"]]},{"id":"ab8d4154.38fc5","type":"file","z":"56026b1d.d38904","name":"Sensor_III","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_III.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1310,"y":200,"wires":[["3f7fc9ee.aec066"]]},{"id":"2d577375.04c97c","type":"file","z":"56026b1d.d38904","name":"Sensor_IV","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_IV.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1310,"y":260,"wires":[["739cf0da.f26ec"]]},{"id":"2e28c680.4b7faa","type":"file","z":"56026b1d.d38904","name":"Sensor_V","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_V.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1300,"y":320,"wires":[["5168723b.c5724c"]]},{"id":"fa9947f3.d34d48","type":"file","z":"56026b1d.d38904","name":"Sensor_VI","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_VI.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1310,"y":380,"wires":[["747256ad.9917e8"]]},{"id":"78edbb5d.16c104","type":"ui_chart","z":"56026b1d.d38904","name":"","group":"bf495d93.c442f","order":1,"width":"0","height":"0","label":"Moment [N]","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":820,"wires":[[]]},{"id":"c02367c9.e83a98","type":"json","z":"56026b1d.d38904","name":"","property":"payload","action":"","pretty":true,"x":1150,"y":140,"wires":[["aa7de9c4.76c058"]]},{"id":"be6ad5e7.68a958","type":"json","z":"56026b1d.d38904","name":"","property":"payload","action":"","pretty":true,"x":1150,"y":80,"wires":[["63aec420.b51d2c"]]},{"id":"ffb2a4d2.32b998","type":"json","z":"56026b1d.d38904","name":"","property":"payload","action":"","pretty":true,"x":1150,"y":200,"wires":[["ab8d4154.38fc5"]]},{"id":"395d00f1.d1452","type":"json","z":"56026b1d.d38904","name":"","property":"payload","action":"","pretty":true,"x":1150,"y":260,"wires":[["2d577375.04c97c"]]},{"id":"af8556d3.259db8","type":"json","z":"56026b1d.d38904","name":"","property":"payload","action":"","pretty":true,"x":1150,"y":320,"wires":[["2e28c680.4b7faa"]]},{"id":"8020ee2e.71c5a","type":"json","z":"56026b1d.d38904","name":"","property":"payload","action":"","pretty":true,"x":1150,"y":380,"wires":[["fa9947f3.d34d48"]]},{"id":"1a8e6b47.a2c515","type":"ui_chart","z":"56026b1d.d38904","name":"","group":"bf495d93.c442f","order":1,"width":"0","height":"0","label":"Force [N]","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":1240,"wires":[[]]},{"id":"fdf04b59.fbd038","type":"ui_button","z":"56026b1d.d38904","name":"button","group":"bf495d93.c442f","order":5,"width":"12","height":"2","passthru":true,"label":"Delete Sensors Data","tooltip":"","color":"gold","bgcolor":"#2A2A2A","icon":"","payload":"fromButton","payloadType":"str","topic":"","x":270,"y":740,"wires":[["ab9ed74b.f0a7a8","bb8af7cc.69eff8","4b3180b7.001ea","7266a706.48e9b8","d52e271.080f7d8","e725bf5a.ac08"]]},{"id":"fdab636e.92028","type":"inject","z":"56026b1d.d38904","name":"inject","topic":"","payload":"fromInject","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":740,"wires":[["fdf04b59.fbd038"]]},{"id":"ab9ed74b.f0a7a8","type":"file","z":"56026b1d.d38904","name":"Delete I","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_I.log","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":520,"y":700,"wires":[[]]},{"id":"bb8af7cc.69eff8","type":"file","z":"56026b1d.d38904","name":"Delete II","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_II.log","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":520,"y":740,"wires":[[]]},{"id":"4b3180b7.001ea","type":"file","z":"56026b1d.d38904","name":"Delete III","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_III.log","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":520,"y":780,"wires":[[]]},{"id":"7266a706.48e9b8","type":"file","z":"56026b1d.d38904","name":"Delete IV","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_IV.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":520,"y":820,"wires":[[]]},{"id":"d52e271.080f7d8","type":"file","z":"56026b1d.d38904","name":"Delete V","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_V.log","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":520,"y":860,"wires":[[]]},{"id":"e725bf5a.ac08","type":"file","z":"56026b1d.d38904","name":"Delete VI","filename":"/home/pi/.node-red/node_modules/node-red-contrib-hx711/Data/Sensor_VI.log","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":520,"y":900,"wires":[[]]},{"id":"1a42728c.8426ad","type":"function","z":"56026b1d.d38904","name":"SendOnlyMoment","func":"var nmsg = msg.payload;\n\npayload = mymoment;\n\nvar mymoment = msg.payload.Moment;\n\nmsg.payload = mymoment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":520,"wires":[["1592a025.94918","78edbb5d.16c104"]]},{"id":"f2f4fd69.b33f7","type":"function","z":"56026b1d.d38904","name":"SendOnlyMoment","func":"var nmsg = msg.payload;\n\npayload = mymoment;\n\nvar mymoment = msg.payload.Moment;\n\nmsg.payload = mymoment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":460,"wires":[["b6e79dad.5a8e5","78edbb5d.16c104"]]},{"id":"11ff1fb2.9e995","type":"function","z":"56026b1d.d38904","name":"SendOnlyMoment","func":"var nmsg = msg.payload;\n\npayload = mymoment;\n\nvar mymoment = msg.payload.Moment;\n\nmsg.payload = mymoment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":580,"wires":[["ca4239bf.15da48","78edbb5d.16c104"]]},{"id":"8352b0c1.2ef48","type":"function","z":"56026b1d.d38904","name":"SendOnlyMoment","func":"var nmsg = msg.payload;\n\npayload = mymoment;\n\nvar mymoment = msg.payload.Moment;\n\nmsg.payload = mymoment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":640,"wires":[["41ac9717.5b00b8","78edbb5d.16c104"]]},{"id":"95516d7c.22ddd","type":"function","z":"56026b1d.d38904","name":"SendOnlyMoment","func":"var nmsg = msg.payload;\n\npayload = mymoment;\n\nvar mymoment = msg.payload.Moment;\n\nmsg.payload = mymoment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":700,"wires":[["c50af29e.0328b","78edbb5d.16c104"]]},{"id":"5f6ef4c4.61425c","type":"function","z":"56026b1d.d38904","name":"SendOnlyMoment","func":"var nmsg = msg.payload;\n\npayload = mymoment;\n\nvar mymoment = msg.payload.Moment;\n\nmsg.payload = mymoment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":760,"wires":[["c6040c85.7e52c","78edbb5d.16c104"]]},{"id":"b34b64de.436288","type":"function","z":"56026b1d.d38904","name":"SendOnlyForce","func":"var nmsg = msg.payload;\n\npayload = myforce;\n\nvar myforce = msg.payload.Force;\n\nmsg.payload = myforce;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":860,"wires":[["87f12966.8e2ad8","1a8e6b47.a2c515"]]},{"id":"916cf049.ae51d","type":"function","z":"56026b1d.d38904","name":"SendOnlyForce","func":"var nmsg = msg.payload;\n\npayload = myforce;\n\nvar myforce = msg.payload.Force;\n\nmsg.payload = myforce;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":920,"wires":[["51856c8e.415e14","1a8e6b47.a2c515"]]},{"id":"1200a000.c10ff","type":"function","z":"56026b1d.d38904","name":"SendOnlyForce","func":"var nmsg = msg.payload;\n\npayload = myforce;\n\nvar myforce = msg.payload.Force;\n\nmsg.payload = myforce;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":980,"wires":[["a73b2832.060f58","1a8e6b47.a2c515"]]},{"id":"64d52bd0.0d3664","type":"function","z":"56026b1d.d38904","name":"SendOnlyForce","func":"var nmsg = msg.payload;\n\npayload = myforce;\n\nvar myforce = msg.payload.Force;\n\nmsg.payload = myforce;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":1040,"wires":[["fabdd991.d971b8","1a8e6b47.a2c515"]]},{"id":"c313b76b.c95c98","type":"function","z":"56026b1d.d38904","name":"SendOnlyForce","func":"var nmsg = msg.payload;\n\npayload = myforce;\n\nvar myforce = msg.payload.Force;\n\nmsg.payload = myforce;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":1100,"wires":[["2cb40e87.9d8b32","1a8e6b47.a2c515"]]},{"id":"22351d24.4f9f52","type":"function","z":"56026b1d.d38904","name":"SendOnlyForce","func":"var nmsg = msg.payload;\n\npayload = myforce;\n\nvar myforce = msg.payload.Force;\n\nmsg.payload = myforce;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":1160,"wires":[["184e339d.76d0cc","1a8e6b47.a2c515"]]},{"id":"bf79e856.38ef78","type":"ui_group","z":"","name":"Live Value of Force","tab":"ed42b05.80bbb5","disp":true,"width":"8","collapse":false},{"id":"fe612a17.c57368","type":"ui_group","z":"","name":"Live Value of Moment","tab":"ed42b05.80bbb5","order":2,"disp":true,"width":"8","collapse":false},{"id":"bf495d93.c442f","type":"ui_group","z":"","name":"Chart History","tab":"ed42b05.80bbb5","order":3,"disp":true,"width":"12","collapse":false},{"id":"ed42b05.80bbb5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]